<div class="mx-auto" style="width: 400px;">
    <br><br><br><br><br><br><br>
<table class="table" >
    <thead>
      <tr>
        <th scope="col">Cargar Datos</th>
        <th scope="col">Parametrizacion</th>
        <th scope="col">Generar Horario</th>
        <th scope="col">Reportes</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>  
            <a href="/upload_data">
                <img src="assets/img/upload_data.png" >
            </a>
        </td>
        <td>  
            <a href="/parametros">
                <img src="assets/img/parametros.png" >
            </a>
        </td>
        <td>  
            <a href="/list-schedule">
                <img src="assets/img/schedule.png" >
            </a>
        </td>
        <td>  
            <a href="/list-reports">
                <img src="assets/img/reports.png" >
            </a>
        </td>

      </tr>
      
    </tbody>
  </table>
</div>